a {text-decoration: none;}
a:hover {text-decoration: underline;}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.snippet-wrap pre.sh_sourceCode {
line-height: 1.2em;
padding:1px;
margin:0px;
}
.snippet-wrap .snippet-no-num {
padding:1px;
margin:0px;
}